body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
    text-align: center;
  }
  p {
    color: red;
    text-align: center;
  }
  form{
    
    margin: auto;
    background-color: powderblue;
    border: none;
    color: red;
    padding-top: 30px;
    align-self: center;
    text-align: center;
    
    font-size: 16px;
      
  }
